metadata.broker.list=evhns-bcx-aurlt7utqtfhs.servicebus.windows.net:9093
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=$ConnectionString
sasl.password=Endpoint=sb://evhns-bcx-aurlt7utqtfhs.servicebus.windows.net/;SharedAccessKeyName=kafka_test;SharedAccessKey=ylI9NwEKiDE888xnEKVoKLCUmyCqCr65Cj+ymI4oNbE=;EntityPath=evh-adxevents-aurlt7utqtfhs